body{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: wheat;
    border: solid none;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
   box-shadow:  0 8px 8px 0 rgba(7, 0, 0, 0.2);

}
.main{
    width: 100%;
    min-height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.cover{
    display: block;
    width: 500px;
    display: flex;
    margin: auto;
    border-radius: 10px;
}
.profile{
   width: 40%;
   height: 200px;
   border-radius: 50%;
   display: flex;
   margin: auto;
   position: relative;
   bottom: 50px;
   border: solid white;
   padding: 5px;
   background-color: white;
}
h2{
    text-align: center;
    position: relative;
    bottom: 50px;
}
p{
    text-align: center;
    position: relative;
    bottom: 50px;
}
#para{
    text-align: center;
    width: 400px;
    text-align: justify;
    margin: auto;
}
button{
    margin: auto;
    background: whitesmoke;
    border: solid white;
    padding: 5px;
    position: relative;
    bottom: 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    margin: auto;
}
button:hover{
    background-color: darkgray;
}
a{
    padding: 15px;
   margin: 15px;
   text-decoration: none;
   color: black;
}
a:hover{
    color: white;
}
.icons{
    position: relative;
    left: 90px;
    bottom: 10px;
}


